DATABASE_URL="postgres database url"

URL=localhost
PORT=4000
SECURITY="http://"

JWT_ACCESS_TOKEN="token"
JWT_REFRESH_TOKEN="token"
JWT_EXPIRES_IN_TOKEN='12d'
JWT_EXPIRES_IN_REFRESH_TOKEN = '12d'
JWT_EXPIRES_REFRESH_TOKEN_DAYS = 30

MERCADOPAGO_TOKEN="access token mercado pago"